# Dictionary
* mapping data type
* key : value pair
* written in `{}` each `key:value` is seperated by comma
* Keys cannot be duplicate

# Creating empty dictionary

In [1]:
about = {}

In [2]:
type(about)

dict

In [3]:
about = dict()
type(about)

dict

In [11]:
a = {1: 'Aayush', 2: 'Bibek', 3:'Champa'} #integer can be keys

In [5]:
a

{1: 'Aayush', 2: 'Bibek', 3: 'Champa'}

In [10]:
student ={
    "name": ['Bikash', 'Pranil', 'Nabin'] # string can be keys
}

In [7]:
student

{'name': ['Bikash', 'Pranil', 'Nabin']}

In [9]:
{1.2 : 88} #float can be keys

{1.2: 88}

In [13]:
# tuple, list, set cannot be keys but can be values

# Adding key value pair in dictionary

In [15]:
about = {'name': 'Kshitiz'}
about

{'name': 'Kshitiz'}

In [16]:
about['teaches'] = ['Python', 'AI', 'DataScience']

In [17]:
about

{'name': 'Kshitiz', 'teaches': ['Python', 'AI', 'DataScience']}

In [18]:
# second method : use .update()

In [19]:
about

{'name': 'Kshitiz', 'teaches': ['Python', 'AI', 'DataScience']}

In [23]:
about.update({'works at': 'Broadway'}) #update vitra dictionary pass garnu parxa

In [22]:
about

{'name': 'Kshitiz',
 'teaches': ['Python', 'AI', 'DataScience'],
 'works at': 'Broadway'}

In [25]:
country = {}
num = int(input("Enter the number of countries: "))
for i in range(num):
    country_name = input("Enter country: ")
    capital = input("Enter capital: ")
    country.update({country_name: capital})
print("Dictionary:",country)

Enter the number of countries: 2
Enter country: Nepal
Enter capital: Kathmandu
Enter country: Romania
Enter capital: Bucharest
Country-Capital Dictionary: {'Nepal': 'Kathmandu', 'Romania': 'Bucharest'}

In [31]:
# if key or dictionary already exists, updates the value of existing key

In [27]:
d = {'Netflix': 5000000}

In [29]:
d.update({'Netflix': 200})

In [30]:
d

{'Netflix': 200}

In [32]:
# update le key exist gardaina vane naya key:value pair halxa
# if exist garxa vane value update garxa

In [35]:
d = {'Netflix': 5000000}
d['Netflix'] = 600        # key already exist garxa so value change hunxa
d

{'Netflix': 600}

# Accessing value of a key in a dictionary

In [37]:
about = {
    'name': 'Kshitiz',
    'age' : 26,
    'teaches': ['Python', 'AI', 'ML'],
    'works at': 'Broadway'}

In [40]:
print(about['age']) # one method

26

In [39]:
about['teaches']

['Python', 'AI', 'ML']

In [42]:
about.get('teaches') # other method

['Python', 'AI', 'ML']

In [43]:
about['gender'] # navako key khojera paidaina

KeyError: 'gender'

In [45]:
about.get('gender', 'Not Found') # if gender key exist gardaina vane Not Found print garbe

'Not Found'

In [47]:
about.get('gender', None) # default ma none hunxa

# .keys() and .values() method

In [48]:
about.keys()

dict_keys(['name', 'age', 'teaches', 'works at'])

In [49]:
about.values()

dict_values(['Kshitiz', 26, ['Python', 'AI', 'ML'], 'Broadway'])

In [50]:
about.items()

dict_items([('name', 'Kshitiz'), ('age', 26), ('teaches', ['Python', 'AI', 'ML']), ('works at', 'Broadway')])

In [51]:
for item in about.items():
    print(item)

('name', 'Kshitiz')
('age', 26)
('teaches', ['Python', 'AI', 'ML'])
('works at', 'Broadway')

In [52]:
for key, val in about.items():
    print(key)

name
age
teaches
works at

In [53]:
for key, val in about.items():
    print(val)

Kshitiz
26
['Python', 'AI', 'ML']
Broadway

In [55]:
about = {
    'name': 'Kshitiz',
    'age' : 26,
    'teaches': ['Python', 'AI', 'ML'],
    'works at': 'Broadway'
}
for key, val in about.items():
    print(f"The key is {key} and the value is {val}")

The key is name and the value is Kshitiz
The key is age and the value is 26
The key is teaches and the value is ['Python', 'AI', 'ML']
The key is works at and the value is Broadway

# Dictionary comprehension

 swap key value pair of dictionary

In [56]:
d= {1: 'one', 5: 'five', 10: 'ten'}

In [57]:
{ val:key for key,val in d.items()}

{'one': 1, 'five': 5, 'ten': 10}

# .zip()

In [58]:
country = ['Nepal', 'India', 'Bhutan']
capotal = ['Kathmandu', 'New Delhi', 'Thimpu']

In [59]:
zip(country, capital)

In [60]:
dict(zip(country, capital))

{'Nepal': 'B', 'India': 'u', 'Bhutan': 'c'}

# Nested dictionary

In [66]:
child = {
    'child1': {'name': 'Roman', 'age': 28},
    'child2': {'name': 'Champa', 'gender': 'F'}
}

In [68]:
child['child2']['name']

'Champa'

In [69]:
child['child1']['age']

28

# list of dictionary

A list of dictionaries in Python is a collection where each element in the list is a dictionary. It allows you to store and access multiple dictionaries in a sequential manner.

In [70]:
students = [
    {'name': 'John', 'age': 20, 'major': 'Computer Science'},
    {'name': 'Alice', 'age': 19, 'major': 'Mathematics'},
    {'name': 'Bob', 'age': 21, 'major': 'Physics'}
]

In [72]:
for item in students:
    print(item['name'])

John
Alice
Bob

In [6]:
contacts = []
num = int(input("Enter the number of input : "))
for i in range(num):
    name = input("Enter name: ")
    address = input("Enter address: ")
    contact = {'name': name, 'address': address}
    contacts.append(contact)
print("Contacts List:")
for contact in contacts:
    print(contact)

Enter the number of input : 2
Enter name: A1
Enter address: A
Enter name: B1
Enter address: B
Contacts List:
{'name': 'A1', 'address': 'A'}
{'name': 'B1', 'address': 'B'}