# Tuple
* collection of item under one variable name
* items are placed inside round bracket() seperated by comma
* allows duplicate
* imutable
* supports multiple data types

In [1]:
# empty tuple
fruit = tuple()
type(fruit)

tuple

In [2]:
friends = ()
type(friends)

tuple

# Create a tuple of cities in nepal

In [3]:
city = ('Kathmandu', 'Kirtipur', 'Bhaktapur', 'Lalitpur', 'Dharan', 'Bharatpur', 'Biratnagar')

('Kathmandu',
 'Kirtipur',
 'Bhaktapur',
 'Lalitpur',
 'Dharan',
 'Bharatpur',
 'Biratnagar')

In [6]:
city[4] #indexing

'Dharan'

In [7]:
city[-1]

'Biratnagar'

In [9]:
city[3:5]

('Lalitpur', 'Dharan')

In [10]:
data = (2,4,6,8,12)
total = 0
for i in data:
    total += i
mean = total/len(data)
print(mean)

6.4

In [11]:
type(mean)

float

In [12]:
a= (1,'helo')

In [13]:
a

(1, 'helo')

# Tuple is immutable

In [14]:
cars= ('BMW', 'Tesla', 'Mercedes', 'Bentley')

In [15]:
cars

('BMW', 'Tesla', 'Mercedes', 'Bentley')

In [16]:
cars[1] = 'Tata' # tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [17]:
# tara list ma milxa cuz list is mutable
cars= ['BMW', 'Tesla', 'Mercedes', 'Bentley']
cars[1] = 'Tata'
cars

['BMW', 'Tata', 'Mercedes', 'Bentley']

# Type casting

In [24]:
cars = ('BMW', 'Tesla', 'Mercedes', 'Bentley')
cars = list(cars)
cars.append('Lamborghini')
cars = tuple(cars)
print(cars)

('BMW', 'Tesla', 'Mercedes', 'Bentley', 'Lamborghini')

# Tuple Unpacking

In [25]:
a, b = ('Hello', 'Sarkar')

In [26]:
a

'Hello'

In [27]:
b

'Sarkar'

In [28]:
a, b, c = ('Hello', 'Sarkar')

ValueError: not enough values to unpack (expected 3, got 2)