# Variable naming convention
 
 # python keywords cannot be variable name
 * keywords are the reserveed words in Python.
 * We cannot use a keyword as a variable name, function name or any other identifier.
 * They are used to define the syntax and structure of the Python language.
 * In Python, keywords are case sensitive

In [1]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

# python keywords are case sensitive
* programming language le uppercase ra lowercase farak manxa teso ho vane tyo case sensitive language ho

False = 0 #it does not work but
false = 0 #
this is so because 

False is a Boolean value, and result of a comparison operation whereas false is a simple variable


# python, java is a case sensitive language whereas sql is a case insensitive language

In [2]:
A='Apple'
a='ace'
print(f"The value of A is {A}")
print(f"The value of a is {a}")

The value of A is Apple
The value of a is ace

hence python is a case sensitive language
# we cannot use special symbols like `!,@,#,$,%,- 'etc in our identifier`

@name="aayush" is not possible but name="aayush is possible"

In [4]:
name = "Aayush"

In [2]:
@name = "Aayush"
first-name = "Ram"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1649156056.py, line 1)

# Numbers cannot be first letter in variable name but numbers can appear after letters

# Use underscore `( _ ) to join two words in variable name`  

 # we can highlight in markdown in jupyter using backtick (  ` )
 
 # variable is a name of the data that is stored in a memory location

In [7]:
first_name= 'Shyam' #snake_case

In [8]:
MyObj= 88 #Pascal Case

In [9]:
o= 88 # not a good style --PEP-8(style-guide)

# Python as a dynamic typed language

In [10]:
1 + 2

3

In [11]:
1" + 2 #dynamic typed -- data type checked on fly in runtime

SyntaxError: unterminated string literal (detected at line 1) (3993036631.py, line 1)

# updating variable values

In [12]:
a = 5
print(f'Before a ={a}')
a = 66
print(f'After a ={a}')

Before a =5
After a =66

variable override gardo raixa

In [13]:
a = 60.5
print(f'Before a ={a}')
a = a+ 0.5
print(f'After a ={a}')  
 # swapping two values
num1 = 2.5
num2 = 0.36

print("Before swap")
print("The first number is",num1,"and the second number is",num2)

temp=num1
num1=num2
num2=temp
print("After swapping")
print("The first number is",num1,"and the second number is",num2)

Before a =60.5
After a =61.0
Before swap
The first number is 2.5 and the second number is 0.36
After swapping
The first number is 0.36 and the second number is 2.5

# Assiging multiple values to multiple variable

In [14]:
a=2
b=0.2
c=0.6 + 0.3j

In [5]:
min = 42
sec = 42
kilometer = 10
total_sec=(min * 60)+ sec
total_min=min+(sec/60)

miles =  kilometer / 1.609
speed1=miles/total_sec
speed2=miles/total_min
print(f"The average pace in miles per second is {speed1} miles/second and the average pace in miles per minute is {speed2} miles/minute")

The average pace in miles per second is 0.0024258549561914852 miles/second and the average pace in miles per minute is 0.1455512973714891 miles/minute

In [1]:
x=int(input("Enter any number of your choice:"))
y=int(input("Enter any number of your choice:"))
print("The sum is ",x+y,"and the difference is ",x-y,"the product is ",x*y,"the division is ",x/y,"the power of ",x,"to",y,"is",x**y)
print("when ",x,"is divided by ",y,"the remainder is",x%y,"and the floor division is",x//y)

Enter any number of your choice:4
Enter any number of your choice:5
The sum is  9 and the difference is  -1 the product is  20 the division is  0.8 the power of  4 to 5 is 1024
when  4 is divided by  5 the remainder is 4 and the floor division is 0

In [17]:
num = int(input("Enter a number: "))

flag = False

if num == 1:
    print(num, "is not a prime number")
elif num > 1:
   
    for i in range(2, num):
        if (num % i) == 0:
       
            flag = True
       
            break
    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

Enter a number: 3
3 is a prime number

In [18]:
x= int(input("What's x?"))
y= int(input("What's y?"))

if x<y:
    print(f"{x} is less than {y}")
elif x>y:
    print(f"{x} is greater than {y}")
else:
    print(f"{x} is equal to  {y}")

What's x?4
What's y?4
4 is equal to  4

In [19]:
x= int(input("What's x?"))
y= int(input("What's y?"))

if x<y or x>y:
   print(f"{x} is not equal to  {y}")
else:
    print(f"{x} is equal to  {y}")

What's x?3
What's y?4
3 is not equal to  4

In [28]:
kilometers = float(input("Enter value in kilometers: "))

conv_fac = 0.621371

miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter value in kilometers: 3
3.00 kilometers is equal to 1.86 miles

In [21]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 2
Positive number

In [22]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 3
3 is Odd

In [23]:
 year = int(input("Enter a year: "))

if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))


elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))


else:
    print("{0} is not a leap year".format(year))

Enter a year: 2005
2005 is not a leap year

# Python Program to Find the Largest Among Three Numbers

In [25]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

Enter first number: 2
Enter second number: 3
Enter third number: 4
The largest number is 4

 # Python Program to Find the Factorial of a Number

In [26]:

num = int(input("Enter a number: "))

factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

In [27]:
num = int(input("Display multiplication table of? "))

for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

Display multiplication table of? 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

# variable naming style

[Python style guide](https://realpython.com/python-pep8/)

to put link use [ yes ma name]/( link ) (dont put '/')

# volume of sphere  [ Jun 18 assignment]

In [2]:
r = 5

volume= (4/3)*3.14*r**3
print("The volume of the sphere is: %0.2f cubic meters" % volume)

The volume of the sphere is: 523.33 cubic meters

or we can write the same program using import keyword

In [4]:
import math

r = float(input("Enter the radius of sphere in metre"))
volume = (4/3)*math.pi*r**3

print("The volume of the sphere is: %0.2f cubic meters" % volume)

Enter the radius of sphere in metre5
The volume of the sphere is: 523.60 cubic meters